.friendList {
  width: 280px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  margin: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.onLine {
  composes: status;
  background-color: green;
}

.offLine {
  composes: status;
  background-color: red;
}

.avatar {
  animation: pulse 3s ease infinite;
}

.name {
  flex-basis: 50%;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
